
start
<table class ="table">
    {% for fld in form %}    
        <tr>
            <td>{{ fld.label }}</td>
            <td>{{ fld }}</td>
        </tr>
    {% endfor %}
</table>
end

start2
<table class="table">
    <tr>
        <td>名前</td>
        <td>{{ object.name.label }}</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <td>性別</td>
        <td>{{ object.sex.label }}</td>
        <td>{{ object.sex }}</td>
    </tr>
</table>
end2

<table class="table">
    {% for fld in obj2 %}    
        <tr>
            <td>{{ fld.name }}</td>
            <td>{{ fld.value}}</td>
        </tr>
    {% endfor %}
</table>

{% comment %}
    <table class="table">
        <tr>
            <td>名前</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>性別</td>
            <td>{{ object.sex }}</td>
        </tr>
        <tr>
            <td>都道府県</td>
            <td>{{ object.prefecture }}</td>
        </tr>

        <tr>
            <td>趣味</td>
            <td>{{ object.hobby|cut:"["|cut:"]" |cut:"'" }}</td>
        </tr>
        <tr>
            <td>好物</td>
            <td>{{ object.food |cut:"["|cut:"]" |cut:"'" }}</td>
        </tr>
    </table>
{% endcomment %}
